# DataHacker's 7DaysOfCode - Day 1

This exercise is focused on cleaning data.

*On this first day, I propose you to download a dataset from the CEAPS portal (Quotation for the Exercise of Parliamentary Activity of Senators) and apply data processing and cleaning processes to it (a process known as Data Wrangling).*

_The CEAPS data contains a number of issues that can make it difficult to create more in-depth analyses_.

_One of the first things you can do is identify such inconsistencies such as fields that have null or duplicate values, convert date fields that are being loaded as text, correct monetary values, misspelled names, format CNPJ fields, etc_.

___How about joining data from several years into a large dataset and applying data cleaning and processing techniques? You could take data from the last four years and apply what you used in this exercise___.

[CEAPS 2021 CSV](https://www.senado.gov.br/transparencia/LAI/verba/despesa_ceaps_2021.csv) | 
[CEAPS 2020 CSV](https://www.senado.gov.br/transparencia/LAI/verba/despesa_ceaps_2020.csv) | 
[CEAPS 2019 CSV](https://www.senado.gov.br/transparencia/LAI/verba/despesa_ceaps_2019.csv) | 
[CEAPS 2018 CSV](https://www.senado.gov.br/transparencia/LAI/verba/despesa_ceaps_2018.csv)

All of them were downloaded, converted from ANSI to UTF-8 and moved to the repository.

In [111]:
import pandas as pd
import numpy as np

In [112]:
path_list = []
for year in range(2018,2022):
    path = f"ceaps{year}.csv"
    path_list.append(path)
path_list

['ceaps2018.csv', 'ceaps2019.csv', 'ceaps2020.csv', 'ceaps2021.csv']

In [113]:
df_list = []
for path in path_list:
    df = pd.read_csv(path,sep=';',header=0,skiprows=[0])
    df_list.append(df)
ceaps = pd.concat(df_list,axis=0,ignore_index=True)

In [114]:
ceaps

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2018,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,NaN,2/1/18,Despesa com pagamento de aluguel de imóvel par...,6000,2088462
1,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,M2CJMM,2/1/18,"Companhia Aérea: AVIANCA, Localizador: M2CJMM....","274,99",2088476
2,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,SFEXYF,2/1/18,"Companhia Aérea: LATAM, Localizador: SFEXYF. P...","1094,29",2088528
3,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,V64HTR,24/1/18,"Companhia Aérea: AZUL, Localizador: V64HTR. Pa...","1553,99",2088475
4,2018,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,002/18,1/2/18,Despesa com pagamento de aluguel de imóvel par...,6000,2088477
...,...,...,...,...,...,...,...,...,...,...,...
77019,2021,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,GDAONA,01/12/2021,"Companhia Aérea: GOL, Localizador: GDAONA. Pas...","1715,45",2170983
77020,2021,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,JFQVZP,15/12/2021,"Companhia Aérea: LATAM, Localizador: JFQVZP. P...","2489,29",2172263
77021,2021,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,SSKEOB,17/12/2021,"Companhia Aérea: GOL, Localizador: SSKEOB. Pas...","1486,66",2172717
77022,2021,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,ZICCEX,27/12/2021,"Companhia Aérea: LATAM, Localizador: ZICCEX. P...","2515,56",2173239
77023,2021,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,LM6FSK,29/12/2021,"Companhia Aérea: AZUL, Localizador: LM6FSK. Pa...","1510,75",2173238

In [115]:
ceaps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77024 entries, 0 to 77023
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                77024 non-null  int64
 1   MES                77024 non-null  int64
 2   SENADOR            77024 non-null  object
 3   TIPO_DESPESA       77024 non-null  object
 4   CNPJ_CPF           77024 non-null  object
 5   FORNECEDOR         77024 non-null  object
 6   DOCUMENTO          73979 non-null  object
 7   DATA               77024 non-null  object
 8   DETALHAMENTO       48395 non-null  object
 9   VALOR_REEMBOLSADO  77024 non-null  object
 10  COD_DOCUMENTO      77024 non-null  int64
dtypes: int64(3), object(8)
memory usage: 6.5+ MB

In [116]:
# As DETALHAMENTO col is per itself is not too much relevant we can only put a 'Non specified' value when it's NaN
ceaps['DETALHAMENTO'].fillna('Não especificado.',inplace=True)

In [117]:
# As we also have the COD_DOCUMENTO col we dont need this DOCUMENTO col
ceaps.drop('DOCUMENTO',axis=1,inplace=True)

In [118]:
ceaps['SENADOR'].value_counts()

WELLINGTON FAGUNDES     2489
HUMBERTO COSTA          1999
PAULO PAIM              1996
CARLOS VIANA            1739
JOSÉ SERRA              1728
                        ...
NEY SUASSUNA              15
BLAIRO MAGGI               6
SIQUEIRA CAMPOS            4
VIRGINIO DE CARVALHO       3
NAILDE PANTA               1
Name: SENADOR, Length: 157, dtype: int64

In [119]:
ceaps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77024 entries, 0 to 77023
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                77024 non-null  int64
 1   MES                77024 non-null  int64
 2   SENADOR            77024 non-null  object
 3   TIPO_DESPESA       77024 non-null  object
 4   CNPJ_CPF           77024 non-null  object
 5   FORNECEDOR         77024 non-null  object
 6   DATA               77024 non-null  object
 7   DETALHAMENTO       77024 non-null  object
 8   VALOR_REEMBOLSADO  77024 non-null  object
 9   COD_DOCUMENTO      77024 non-null  int64
dtypes: int64(3), object(7)
memory usage: 5.9+ MB

In [120]:
# Changing VALOR_REEMBOLSADO from string to float and replacing it's commas to points
ceaps['VALOR_REEMBOLSADO'] = ceaps['VALOR_REEMBOLSADO'].str.replace(',','.').astype(float)

In [121]:
# Creates a col called DIA (day) where it haves the day coillected from DATA
def get_day(date: str):
    '''From a date (str) formated as dd/mm/yy return the day '''
    parts = date.split('/')
    return parts[0]
ceaps['DIA'] = ceaps['DATA'].apply(lambda x: get_day(x))

In [122]:
# Create a dictionary so I can use my DIA, MES and YEAR cols in to_datetime as a dictionary
dict_date = {'day':ceaps['DIA'],'month':ceaps['MES'],'year':ceaps['ANO']}
# Changing DATA from string to datetime
ceaps['DATA'] = pd.to_datetime(dict_date,dayfirst=True,errors='coerce')

In [128]:
# NOW I'M TRYING TO REORDER MY COLS, TODO

cols = ceaps.columns.to_list()
cols

['ANO',
 'MES',
 'SENADOR',
 'TIPO_DESPESA',
 'CNPJ_CPF',
 'FORNECEDOR',
 'DATA',
 'DETALHAMENTO',
 'VALOR_REEMBOLSADO',
 'COD_DOCUMENTO',
 'DIA']

In [129]:
cols[-1,0:-1]

TypeError: list indices must be integers or slices, not tuple